<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Find restaurant that relevant to your location and choose your favorite food there.">
    <meta name="theme-color" content="#DB0000" />

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <title>Cubeshape Restaurant</title>
</head>

<body>
    <button class="skip-content">Skip to content</button>

    <header>
        <nav class="container" id="navbar">
            <div class="menu-md">
                <a href="#/" class="logo">CUBE<span>SHAPE</span></a>
                <input type="image" aria-label="open menu button" class="open-menu btn-size" id="open_menu"
                    src="./icons/open-menu.svg" />
                <input type="image" aria-label="close menu button" class="close-menu btn-size" id="close_menu"
                    src="./icons/close-menu.svg" />
            </div>
            <ul id="navbar_list">
                <li><a href="#/resto-list">Resto List</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://ibrahimyunel.github.io/" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main class="mainContent" tabindex="0">

    </main>

    <footer>
        <h2>CUBESHAPE &#169;2023 <br>
            Your Legend Restaurant</h2>
    </footer>

</body>

</html>